* {
  box-sizing: border-box;
  transition-timing-function: linear !important;
}

body {
  padding: 0;
  margin: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) {
  body {
    font-size: 14px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  body {
    font-size: 28px;
  }
}
@media only screen and (orientation: landscape) {
  body {
    font-size: 14px;
  }
}
