.tchart-dates {
  height: 2.5em;
  position: relative;
}

.tchart-dates-item {
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 3.5em;
}

.tchart-dates-layer {
  opacity: 0;
  transition: opacity .3s;
}
